/* RIGHT IMAGE + BUTTONS */
.hero-img-wrap {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10%;
}

@media (max-width: 768px) {
  .hero-img-wrap {
    margin-top: 8%;
  }
}

@media (max-width: 480px) {
  .hero-img-wrap {
    margin-top: 5%;
  }
}

.hero-img {
    width: 100%; /* as you want */
    
    display: block;
}

    /* Responsive */
@media (max-width: 992px) {
.hero {
    flex-direction: column;
    text-align: center;
}

.hero-img-wrap {
    margin-top: 40px;
    justify-content: center;
}

.hero-img {
    width: 70%;
}
}

@media (max-width: 768px) {
  .hero-img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .hero-img {
    width: 90%;
  }
}

.video-wrapper {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
}

@media (max-width: 768px) {
  .video-wrapper {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .video-wrapper {
    padding: 5px;
  }
}

.project-video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .project-video {
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .project-video {
    border-radius: 10px;
  }
}

